<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1"/>
    </startup>
  <appSettings>
    <add key="Server" value="http://192.168.218.176:5000"/>
    <add key="EvaluateMatchUrl" value="/evaluate"/>
    <add key="CheckMatchExistsUrl" value="/exists/{0}"/>
    <add key="UploadUrl" value="/upload"/>
  </appSettings>
</configuration>
