<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1"/>
    </startup>
  <appSettings>
    <add key="Server" value="http://roflmao.eastus.cloudapp.azure.com:5000"/>
    <add key ="WebsiteBase" value="http://roflmao.eastus.cloudapp.azure.com:4000"/>
    <add key="EvaluateMatchUrl" value="/evaluate"/>
    <add key="CheckMatchExistsUrl" value="/exists/{0}"/>
    <add key="UploadUrl" value="/upload"/>
    <add key="DownloadUrl" value="/download/{0}"/>
    <add key="DownloadPath" value="downloads\"/>
    <add key ="LolPath" value="C:\Riot Games\League of Legends\RADS\solutions\lol_game_client_sln\releases\0.0.1.246\deploy\League of Legends.exe"/>
  </appSettings>
</configuration>
