body {
  margin: 0;
  padding: 1em;
  font-family: sans-serif;
  background: #62727b;
  background-image: url("https://images.wallpaperscraft.com/image/dota_2_art_background_clean_95130_1920x1080.jpg");
}

[draggable] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  -moz-user-drag: element;
  -webkit-user-drag: element;
  -khtml-user-drag: element;
  user-drag: element;
}

svg g {
  fill: #3F51B5;
  fill-opacity: 0.75;
}

svg g {
  fill: #3F51B5;
  fill-opacity: 0.75;
}

svg g:hover {
  fill-opacity: 1;
}

svg g:hover text {
  fill-opacity: 1;
}

svg g polygon {
  stroke: #3F51B5;
  stroke-width: 0.2;
  transition: fill-opacity .2s;
}
svg g text  {
  font-size: 0.075em;
  fill: #FFFFFF;
  fill-opacity: 0;
  transition: fill-opacity .2s;
}

#root > div > svg {
  padding-bottom: 5%;
}

/*Title Styling*/
@import url(https://fonts.googleapis.com/css?family=Arvo:700);
@import url(https://fonts.googleapis.com/css?family=Seaweed+Script);

.plate {
  margin: 5% auto;
  display: flex-block;
  justify-content: center;
  align-items: center;
}

.shadow {
  color: #fff;
  font-family: Arvo;
  font-weight: bold;
  text-shadow:
    -3px -3px 0 #222,
    3px -3px 0 #222,
    -3px 3px 0 #222,
    3px 3px 0 #222,
    4px 4px 0 #fff,
    5px 5px 0 #fff,
    6px 6px 0 #fff,
    7px 7px 0 #fff;
  line-height: 0.8em;
  letter-spacing: 0.1em;
  transform: scaleY(0.7);
  -webkit-transform: scaleY(0.7);
  -moz-transform: scaleY(0.7);
  margin:0;
  text-align: center;
}
.script {
  font-family: "Seaweed Script";
  color: #fff;
  text-align: center;
  font-size: 40px;
  position: relative;
  margin:0;
}
.script span {
  background-color: #222;
  padding: 0 0.3em;
}
.script:before {
  content:"";
  display: block;
  position: absolute;
  z-index:-1;
  top: 50%;
  width: 100%;
  border-bottom: 3px solid #fff;
}
.text1 {
  font-size: 60px;
  width: 100%;
}
.text2 {
  font-size: 169px;
  width: 100%;
}
.text3 {
  font-size: 100px;
  width: 100%;
}
