@import url('https://fonts.googleapis.com/css?family=Spicy+Rice');

body {
  margin: 0;
  padding: 1em;
  font-family: sans-serif;
  background: url(./background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

[draggable] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  -moz-user-drag: element;
  -webkit-user-drag: element;
  -khtml-user-drag: element;
  user-drag: element;
}

svg g {
  fill: #3F51B5;
  fill-opacity: 0.75;
}

svg g {
  fill: #3F51B5;
  fill-opacity: 0.75;
}

svg g:hover {
  fill-opacity: 1;
}

svg g:hover text {
  fill-opacity: 1;
}

svg g polygon {
  stroke: #3F51B5;
  stroke-width: 0.2;
  transition: fill-opacity .2s;
}
svg g text  {
  font-size: 0.075em;
  fill: #FFFFFF;
  fill-opacity: 0;
  transition: fill-opacity .2s;
}

#root > div > svg {
  padding-bottom: 5%;
}

.championpagecontainer {
  height: 100%;
  width: 100%;
}

.championpagetop {
  width: 100%;
  height: 30%;
}

.championpagebottom {
  width: 100%;
  height: 70%;
}

.championTitle {
  width: 80%;
  height: 170px;
  padding-left: 5%;
  padding-right: 5%;
}

.championImage {
  height: 175px;
  width: 175px;
  border: solid grey 5px;
  border-radius: 20px;
  margin-left: 70%;
  display: block;
}

table {
    background: rgba(0,0,0, 0.6);
    background-size: cover;
    border-collapse:separate;
    border:solid black 5px;
    border-radius:8px;
    -moz-border-radius:6px;
    width: 90%;
    border-spacing: 5px;
    margin-bottom: 5%;
    color: white;
    margin-left: 5%;
    margin-right: 5%;
}

td, th {
    border-left:solid black 1px;
    border-top:solid black 1px;
    padding: 15px;
}

th {
    border-top: none;
    text-align: center;
}

td {
  text-align: center;
}

td:first-child, th:first-child {
     border-left: none;
}

/*Title Styling*/
@import url(https://fonts.googleapis.com/css?family=Arvo:700);
@import url(https://fonts.googleapis.com/css?family=Seaweed+Script);

.plate {
  margin: 5% auto;
  display: flex-block;
  justify-content: center;
  align-items: center;
  position: relative;
}

.shadow {
  color: #fff;
  font-family: Arvo;
  font-weight: bold;
  text-shadow:
    -3px -3px 0 #222,
    3px -3px 0 #222,
    -3px 3px 0 #222,
    3px 3px 0 #222,
    4px 4px 0 #fff,
    5px 5px 0 #fff,
    6px 6px 0 #fff,
    7px 7px 0 #fff;
  line-height: 0.8em;
  letter-spacing: 0.1em;
  transform: scaleY(0.7);
  -webkit-transform: scaleY(0.7);
  -moz-transform: scaleY(0.7);
  margin:0;
  text-align: center;
}

.script {
    font-family: "Seaweed Script";
    color: #fff;
    font-size: 80px;
    position: relative;
}

.script span {
  background-color: #222;
  padding: 0 0.3em;
}

.script:before {
  content: "";
  display: block;
  position: absolute;
  z-index:-1;
  top: 50%;
  width: 100%;
  border-bottom: 3px solid #fff;
}

.text1 {
  font-size: 60px;
  width: 100%;
}

.text2 {
  font-size: 169px;
  width: 100%;
}

.text3 {
  font-size: 100px;
  width: 100%;
}

/*Button Styles*/
.more-info-button {
  color: #fff !important;
  text-transform: uppercase;
  background: #D4AF37;
  padding: 20px;
  border-radius: 50px;
  display: inline-block;
  border: none;
}

.more-info-button:hover {
  text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  transition: all 0.4s ease 0s;
}

#arrowAnim {
  margin-left: 150px;
  margin-top: 25px;
  margin-bottom: 40px;
  height: 10px;
  width: 15px;
}

.arrow {
  border: 1vw solid;
  border-color: white transparent transparent white;
  transform: rotate(-45deg);
}


.arrowSliding {
  position: absolute;
  -webkit-animation: slide 4s linear infinite;
          animation: slide 4s linear infinite;
}

.delay1 {
  -webkit-animation-delay: 1s;
    animation-delay: 1s;
}

.delay2 {
  -webkit-animation-delay: 2s;
    animation-delay: 2s;
}

.delay3 {
  -webkit-animation-delay: 3s;
    animation-delay: 3s;
}

@-webkit-keyframes slide {
    0% { opacity:0; transform: translateX(5vw); }
   20% { opacity:1; transform: translateX(2vw); }
   80% { opacity:1; transform: translateX(-2vw); }
  100% { opacity:0; transform: translateX(-5vw); }
}
@keyframes slide {
    0% { opacity:0; transform: translateX(5vw); }
   20% { opacity:1; transform: translateX(2vw); }
   80% { opacity:1; transform: translateX(-2vw); }
  100% { opacity:0; transform: translateX(-5vw); }
}

.matchpagecontainer {
  font-family: 'Spicy Rice', cursive;
  color: white;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.matchpageleft {
  width: 65%;
  text-align: center;
  vertical-align: middle;
  margin-bottom: 10%;
}

.matchpageleftbox {
  width: 80%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 10%;
  background: rgba(0,0,0, 0.6);
  opacity: 0.75;
  text-align: center;
  border: solid black 5px;
  border-radius: 15px;
  padding: 5%;
}

.left-1 {
  width: 85%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 10%;
  background: rgba(0,0,0, 0.6);
  opacity: 0.75;
  text-align: center;
  border: solid black 5px;
  border-radius: 15px;
  padding: 5%;
}

.left-2 {
  width: 85%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 10%;
  background: rgba(0,0,0, 0.6);
  opacity: 0.75;
  text-align: center;
  border: solid black 5px;
  border-radius: 15px;
  padding: 5%;
}

.left-3 {
  width: 85%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 10%;
  background: rgba(0,0,0, 0.6);
  opacity: 0.75;
  text-align: center;
  border: solid black 5px;
  border-radius: 15px;
  padding: 5%;
}

.left-4 {
  width: 85%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 10%;
  background: rgba(0,0,0, 0.6);
  opacity: 0.75;
  text-align: center;
  border: solid black 5px;
  border-radius: 15px;
  padding: 5%;
}

.matchpageright {
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.championimagebox {
  width: 100%;
}

.championname {
  width: 100%;
}

.championdescription {
  width: 100%;
}

.matchpagechampimg {
  height: 175px;
  width: 175px;
  border: solid grey 5px;
  border-radius: 20px;
  display: block;
}

.downloadbutton {
  border: none;
  background: #404040;
  color: #ffffff !important;
  font-weight: 100;
  text-transform: uppercase;
  border-radius: 6px;
  display: inline-block;
  padding: 20px;
}

.downloadbutton:hover {
  font-weight: 700 !important;
  letter-spacing: 3px;
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  transition: all 0.3s ease 0s;
}

.matchsummonername {
  margin-bottom: 5%;
}

.statbox {
  width: 100%;
  display: block;
}

.stat {
  width: 25%;
}
