body {
  margin: 0;
  padding: 1em;
  font-family: sans-serif;
  background: url(./background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

[draggable] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  -moz-user-drag: element;
  -webkit-user-drag: element;
  -khtml-user-drag: element;
  user-drag: element;
}

svg g {
  fill: #3F51B5;
  fill-opacity: 0.75;
}

svg g {
  fill: #3F51B5;
  fill-opacity: 0.75;
}

svg g:hover {
  fill-opacity: 1;
}

svg g:hover text {
  fill-opacity: 1;
}

svg g polygon {
  stroke: #3F51B5;
  stroke-width: 0.2;
  transition: fill-opacity .2s;
}
svg g text  {
  font-size: 0.075em;
  fill: #FFFFFF;
  fill-opacity: 0;
  transition: fill-opacity .2s;
}

#root > div > svg {
  padding-bottom: 5%;
}

.championpagecontainer {
  margin: 5% auto;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.championpageleft {
  width: 60%;
  height: 100%;
}

.championpageright {
  height: 100%;
}

.championTitle {
  padding-bottom: 5%;
}

.championGames {

}

.championGame {

}

.championImage {
  height: 200px;
  width: 200px;
}

table {
  background: url("https://wallpapercave.com/wp/Vqjr2iR.jpg");
}

table {
    border-collapse:separate;
    border:solid black 3px;
    border-radius:8px;
    -moz-border-radius:6px;
    width: 100%;
    border-spacing: 5px;
}

td, th {
    border-left:solid black 1px;
    border-top:solid black 1px;
    padding: 15px;
}

th {
    border-top: none;
    text-align: center;
}

td {
  text-align: center;
}

td:first-child, th:first-child {
     border-left: none;
}

/*Title Styling*/
@import url(https://fonts.googleapis.com/css?family=Arvo:700);
@import url(https://fonts.googleapis.com/css?family=Seaweed+Script);

.plate {
  margin: 5% auto;
  display: flex-block;
  justify-content: center;
  align-items: center;
  position: relative;
}

.shadow {
  color: #fff;
  font-family: Arvo;
  font-weight: bold;
  text-shadow:
    -3px -3px 0 #222,
    3px -3px 0 #222,
    -3px 3px 0 #222,
    3px 3px 0 #222,
    4px 4px 0 #fff,
    5px 5px 0 #fff,
    6px 6px 0 #fff,
    7px 7px 0 #fff;
  line-height: 0.8em;
  letter-spacing: 0.1em;
  transform: scaleY(0.7);
  -webkit-transform: scaleY(0.7);
  -moz-transform: scaleY(0.7);
  margin:0;
  text-align: center;
}

.script {
  font-family: "Seaweed Script";
  color: #fff;
  text-align: center;
  font-size: 80px;
  position: relative;
  margin:0;
}

.script span {
  background-color: #222;
  padding: 0 0.3em;
}

.script:before {
  content: "";
  display: block;
  position: absolute;
  z-index:-1;
  top: 50%;
  width: 100%;
  border-bottom: 3px solid #fff;
}

.text1 {
  font-size: 60px;
  width: 100%;
}

.text2 {
  font-size: 169px;
  width: 100%;
}

.text3 {
  font-size: 100px;
  width: 100%;
}
